In [ ]:
import requests
from bs4 import BeautifulSoup
import datetime
import csv
import pandas as pd
import re

In [ ]:
# Constants
News_URL = "https://www.prnewswire.com/news-releases/news-releases-list/?"
#News_URL = "https://www.prnewswire.com/news-releases/news-releases-list/?month=11&day=24&year=2021&hour=00&page=1&pagesize=100"

Total_Days = 7 #Number of days to fetch

In [ ]:
# Global Variables
arr_Date = []
arr_newsTitle = []
arr_newsPara = []

In [ ]:
# Date for extracting webpage
currentDate = datetime.datetime.now()
tempDate = currentDate

In [ ]:
def prepare_URL(dayToFetch) -> str:
   urlByDay = News_URL + 'month=' + str(currentDate.month) + '&day=' + str(dayToFetch) + '&year=' + str(currentDate.year) + '&hour=00&page=1&pagesize=100'
   return urlByDay

In [ ]:
def parse_News(forDay):
  url = prepare_URL(forDay)
  page = requests.get(url)
  soup = BeautifulSoup(page.content, "html.parser")

  # to extract main layout content
  main = soup.find_all('main',class_='headline-listing')

  for elements in main:
    lstContainer = elements.find_all('section',class_='container')
    for mainHead in lstContainer:
      row = mainHead.find_all('div',class_='row')
      for mainCol in row:
        rowList = mainCol.find_all('div',class_='col-md-8 col-sm-8 card-list card-list-hr')
        for newsCard in rowList:
          newsLst = newsCard.find_all('a',class_='newsreleaseconsolidatelink')
          for content in newsLst:
            small = content.h3.small.text
            content.h3.small.decompose()
            h3 = content.h3.text.replace("\n", "")
            p =  content.p.text
            arr_Date.append(small)
            arr_newsTitle.append(h3)
            arr_newsPara.append(p)

In [ ]:
#Fetch & Parse data of last week
i = 0
while i < Total_Days:
  parse_News(currentDate.day - i)
  i = i + 1

In [ ]:
# Write data to csv
dictNews = {'Date': arr_Date, 'Title': arr_newsTitle, 'Content': arr_newsPara}
df = pd.DataFrame(dictNews)
df.to_csv('newsData.csv')

df.head()

                     Date  ...                                            Content
0  Nov 24, 2021, 23:30 ET  ...  The artificial intelligence robots market size...
1  Nov 24, 2021, 23:02 ET  ...  Le PDG de Safely2Prosperity LLC, John Norris, ...
2  Nov 24, 2021, 23:00 ET  ...  Benefitting from the influx of investment from...
3  Nov 24, 2021, 22:42 ET  ...  Baidu received the approval for commercial ope...
4  Nov 24, 2021, 22:30 ET  ...  The industrial control systems security market...

[5 rows x 3 columns]

In [ ]:
#stock = df.loc[df['Content'].str.contains("NYSE: ", case=False)]
#stock = df.loc[df['Content'].str.extract("NYSE: ")]

In [ ]:
stock = df['Content'].str.extract('NYSE: ([a-zA-Z]+)', expand=True)


#stock = df.loc[df['newCol'].str.contains("NYSE: ", case=False)]
stock.head(30)

      0
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
12  NaN
13  NaN
14  NaN
15  NaN
16  NaN
17  NaN
18  NaN
19  NaN
20  NaN
21  NaN
22  NaN
23  NaN
24  NaN
25  NaN
26  NaN
27  NaN
28  NaN
29  NaN

In [ ]:
re.findall('NYSE: ([a-zA-Z]+)', df['Content'].str)

TypeError: ignored